.DS_Store
.gitignore.swp
ShareProject/ShareProject.xcodeproj/project.xcworkspace/xcuserdata/ilia.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
ShareProject/ShareProject.xcodeproj/project.xcworkspace/xcuserdata/vitaly.xcuserdatad/UserInterfaceState.xcuserstate
